* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1594px;
}

.header-section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.header-section-two .container {
    display: flex;
}

.logo-top-left img {
    height: 100px;
    margin-left: 150px;
    margin-bottom: 20px;
}

.para-top-right {
    border: 2px solid #eee;
    margin-right: 150px;
    width: 400px;
    padding: 12px 18px 12px 18px;
    border-radius: 6px;
}

.header-section-two {
    background-color: rgb(45, 186, 181);
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.navbar-rightpart {
    display: flex;
    gap: 18px;
    margin-right: 25px;
}

.navbar-rightpart a {
    color: #fff;
    font-size: 25px;
}

.searchbar {
    background-color: #fff;
    max-width: 300px;
    margin-right: 125px;
    border-radius: 2px;
    width: 100%;
}

.searchbar i {
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

.navbar-leftpart a {
    text-decoration: none;
    padding: 25px;
    color: #fff;
}

.navbar-leftpart {
    margin-left: 125px;
    width: 100%;
    margin-top: 5px;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.main-content {
    position: relative;
}

.banner-heading {
    position: absolute;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.486);
    left: 103px;
    padding: 25px;
    width: 600px;
}

.banner-heading h1 {
    font-weight: 100;
    font-size: 25px;
    padding: 0px 0px 22px 5px;
    color: #fff;
}

.banner {
    position: relative;
}

.banner-img .slick-arrow:hover {
    background: red;
}

.banner-img .slick-arrow:hover i {
    color: #fff
}

.banner-img .slick-arrow {
    position: absolute;
    bottom: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50px;
    z-index: 9;
    background: #fff;
}

.banner-img .slick-arrow.prev-arrow {
    left: 8%;
}

.banner-img .slick-arrow.next-arrow {
    left: 10%;
}

.main-content-one {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    max-width: 1903px;
    padding: 50px;
    background-color: rgb(230, 224, 224);
}


.content-one {
    width: 50%;
    margin-left: 5%;
}


.content-one h2 {
    font-weight: 500;
    margin-bottom: 50px;
}

.content-one p {
    opacity: 0.5;
}

.more-button-style {
    background-color: rgba(255, 0, 0, 0.671);
    padding: 15px 20px 15px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    /* margin-right: 125px; */
}

.advice-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-two {
    box-sizing: border-box;
    width: 100%;
    max-width: 1903px;
    padding: 50px 0 50px 0;
}


.advice-card {
    /* padding: 25px; */
    /* text-align: center; */
    width: 30%;
    display: flex;
    gap: 20px;
    box-sizing: content-box;
}

.advice-card h4 {
    margin-bottom: 13px;
    font-size: 20px;
}

.icon-head i {
    background-color: rgb(45, 186, 181);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-head i:hover {
    background-color: rgba(255, 0, 0, 0.671);
}

.advice-card p {
    opacity: 0.5;
    width: 60%;
}

.readmore-button-style-small {
    border: none;
    background-color: #fff;
    color: rgba(255, 0, 0, 0.671);
    cursor: pointer;
    padding-top: 25px;
    font-size: 15px;
}

.slider-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1%;
    margin-top: 50px;
}

.slider-card img {
    object-fit: cover;
    width: 100%;

}

.slider-card {
    background-color: rgb(45, 186, 181);
    width: 20%;
    text-align: center;
}

.slider-card-content {
    color: #fff;
    padding: 13px;
}

.slider-card-content h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.main-content-three .container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 9rem;
    box-sizing: border-box;
    max-width: 64%;
}

.content-three-card {
    display: flex;
    margin-top: 70px;
}

.content-three-para h2 {
    padding-bottom: 20px;
}

.content-three-icon {
    margin: 6px 25px;
}

.content-three-icon i {
    color: rgb(45, 186, 181);
    font-size: 35px;
}

.content-three-para h5 {
    margin-bottom: 20px;
}

.content-three-para p {
    opacity: 0.6;
}

.left-start-flex {
    display: flex;
    flex-direction: column;
}

.readmore-button-style-small {
    border: none;
    background-color: #fff;
    color: rgba(255, 0, 0, 0.671);
    cursor: pointer;
    padding-top: 25px;
    font-size: 15px;
    display: flex;
    align-items: start;
}

.content-four-para {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-top: 5rem;
}

.content-four-para div {
    width: 50%;
}

.content-four-para p {
    margin-top: 2rem;
    opacity: 0.5;
}

hr {
    margin-top: 3rem;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    box-sizing: border-box;
    margin-top: 3rem;
}

.submit-form {
    display: flex;
    flex-direction: column;
    margin-top: 5.5rem;
}

.submit-form input {
    width: 34rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

textarea {
    overflow: auto;
    resize: vertical;
    margin-top: 3rem;
    padding: 20px 0 0 20px;
    resize: none;
}

.submit-form button {
    background-color: rgba(255, 0, 0, 0.671);
    color: #fff;
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}



.slider-card-section .slick-slide {
    padding-right: 20px;
}

.slider-card-section {
    position: relative;
}

.slider-card-section .next-arrow {
    position: absolute;
    bottom: 50%;
    right: -2rem;
}

.slider-card-section .prev-arrow {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: -3rem;
}

.slider-card-section .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
}

.slider-card-section .slick-arrow:hover {
    background: rgb(45, 186, 181);
    border: 1px solid #fff;
}

.slider-card-section .slick-arrow:hover i {
    color: #fff;
}

.content-five {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 35px;
    gap: 2rem;
    /* margin: 0 auto; */
    /* margin-left: 4rem; */
    width: 100%;
    margin: 0 auto;
}



.content-five-card {
    display: flex;
    align-items: center;
}

.five-card-heading {
    color: rgb(45, 186, 181);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid #eee;
    padding-right: 20px;
    margin-right: 20px;
}

.five-card-heading h5 {
    font-weight: bolder;
}

.five-card-heading h2 {
    font-weight: bolder;
}

.five-logo-right-bottom img {
    height: 100px;
    margin-bottom: 20px;
    /* margin-left: 0rem; */
}

.main-content-five {
    background-color: #f8f8f8;
    margin-top: 3rem;
}

.content-five-maincard {
    width: 31%;
}

.content-five-logo {
    margin-bottom: 7rem;
}

.hr-style-for-content-five {
    width: 29rem;
}

.content-five-maincard p {
    opacity: 0.5;
    font-size: 15px;
    padding-top: 2rem;
}

.five-logo-right-bottom {
    width: 50%;
    padding-top: 20px;
}

.readmore-button-greybg {
    background-color: #f8f8f8;
}